@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-family: Roboto, 'sans-serif';
  font-weight: 400;
  background-color: rgb(255, 255, 255);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  /* margin: 0;
  display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
 
ul li{
  list-style: none;
}

input{
  background-color: transparent;
  border: 1px solid black;
  /* padding: 5px; */
}

.white{
  color: rgba(39, 39, 39, 0.715);
}